
* {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.container-blue{
    background-color: #B8ACDA;
    height: 400px;
    width: 150%;
   
    position: absolute;
    top: 0;
   border-radius: 0 0 100% 100%;
   @media screen and (max-width: 768px) {
    order: 3;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
  }
}
.container-white{
  position: absolute;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 768px) {
    /* order: 2; */
    flex-direction: column;
    display: flex;
    align-items: center;
    max-width: 100%;
  }
}
.container {
  flex-wrap: wrap;
   margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @media screen and (max-width: 768px) {
    /* order: 1; */
    flex-direction: column;
    display: flex;
    align-items: center;
    max-width: 100%;
  }
 
}


.left-section {
  background-color: #f5f5f5;
  padding: 20px;
  height: 550px;
  width: 361px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
  position: relative;
  background-image: url('\image 1.png');
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 768px) {
    width: 100vh;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 1;
  }
  
}

.left-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px; 
    height: 60px;
    background-color: #fff; 
     clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  }



.left-section h1 {
  position: relative;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center !important;
  color: #fff;
}

.left-section ul {
  position: relative;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: normal;
  width: 260px;
  height: 170px;
  color: #fff;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.left-section li {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.right-section {
  background-color: #FFFFFF;
  padding: 20px;
  flex: 1;
  height: 550px;
  width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  @media screen and (max-width: 768px) {
    width: 100vh;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* justify-content: center; */
    background-color: #ddd;
    order: 2;
  }

}
.right-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 60px; 
    height: 60px;
    background-color: #B8ACDA; 
     clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  }

.right-section h1 {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 5%;
  font-size: 24px;
  font-family: Roboto;
  line-height: 28.13px;
  margin-left: 14px;
  /* justify-content: center; */
  align-items: flex-start !important;
  @media screen and (max-width: 768px) {
    align-items: flex-start;
    margin-left: 32%;
  }
}

.right-section ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
    width: 291px;
height: 42px;
margin-top: 0;
}

.right-section li {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

form {
  margin: 20px;
  height: 100%;
  font-weight: 700;
  font-size: 16px;
  font-family: Roboto;
  line-height: 18.75px;
  @media screen and (max-width: 768px) {
    width: 450px;
    /* padding: 0px 0px; */
    margin-left: 250px;
    display: flex;
    flex-direction: column;
   
    /* justify-content: center; */
    background-color: #ddd;
    align-items: flex-start;
    /* max-width: 100%; */
    }
}

label {
  display: block;
  margin-bottom: 10px;
  @media screen and (max-width: 768px) {
    text-align: left;  
      
  }
 
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #BDBDBD;
  @media screen and (max-width: 768px) {
    width: 250px;  
      
  }
}

input:hover {
  border-color: red;
}

.dob-group{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* max-width: 100%; */
    /* margin-left: -50px; */
}
input[type="date"] {
    width: 8% !important;
    padding: 8px 20px;
    margin-bottom: 10px;
    border: 2px solid #BDBDBD;
    margin-right: -80px;
    @media screen and (max-width: 768px) {
      margin-right: -90px;
    }

}
input[type="month"], input[type="number"]{
    width: 20% !important;
    padding: 8px 50px;
    margin-bottom: 20px;
    border: 2px solid #BDBDBD;
  
   
}

.year{
  margin-left: -90px;
  @media screen and (max-width: 768px) {
    margin-left: -120px;
  }
}

.date, .month, .year{
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  align-items: flex-start;
  color: #BDBDBD;
  
}
input[type="radio"] {
  margin-right: 10px;
  border-radius: 50px;
  border: 2px solid #BDBDBD;
  margin-top: -10px;
}

.checkbox-group{
    display: flex;
    flex-direction: row;
    
}
button[type="submit"] {
  background-color: #2D9CDB;
  color: white;
  padding: 10px 50px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .leftt-section {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
  }
  
  

  .right-section {
    width: 100%;
    max-width: 100%;
  
  }
 
}

.desktop {
  flex-direction: row;
 
}

.mobile {
 flex-direction: column;
}
